@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;

}

.container{
  max-width: 600px;
  margin:0 auto;
}



.layout{
  height:100vh;
  background-image: linear-gradient(
    to bottom, white,#e0f2fe,white    
  );
}

.navbar-root{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

.logo{
  font-size: 16px;
  font-weight: 800;
}

.link{
  display: flex;
  gap:12px;
  align-items: center;
}

.link-items{
  font-size: 16px;
  text-decoration: none;
  color:#4b5563;
}


.link-items:hover{
  color:black;
  transition: color 0.2s ease-out;
}